<nav class="container container-xl">
  <div class="logo">
    <a href="{{ '/' | relative_url }}" class="logo-link">
      {% include logo.html size="32px" class="nav-logo" %}
      <span class="logo-text">Font Proof</span>
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="#features">Features</a></li>
    <li><a href="#pricing">Pricing</a></li>
    <li><a href="mailto:{{ email }}">Contact</a></li>
  </ul>
  <div class="nav-actions">
    <a href="#" class="btn btn-primary btn-small">Download</a>
  </div>
</nav>
